@import url(./constant.css);
@media screen and (max-width: 960px) {
    .full_info{
        margin-top: var(--small_distances);
    }
    .info_wrapper > div{
        width: auto;
    }
    .location , .network_box , .calling{
        font-size: var(--small_font_size);
        height: 40px;
        border-radius: var(--xx_small_distances);
    }
    .networking{
        gap: 5px;
    }
    .network_box{
        width: 40px;
    }
    .phone_icon{
        width: 20px;
        height: 20px;
    }
    .phone_icon > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .about_card_wrapper{
        gap: 10px;
    }
    .card{
        width: 48%;
    }
}
@media screen and (max-width: 768px) {
    .nav_content{
        width: 0;
        height: 0;
        border-radius: var(--small_distances);
        border: 1px solid var(--blue);
        background-color: var(--blue_opacity);
        position: absolute;
        right: 10px;
        top: 10px;
        backdrop-filter: blur(var(--xx_small_distances));
        overflow: hidden;
        transition: 0.3s;
        z-index: 9999 !important;
    }
    .nav_content ul{
        flex-direction: column;
        gap: 20px;
        z-index: 99999 !important;
    }
    .nav_toggler_into_context{
        display: block;
        position: absolute;
        top: -30px;
        right: -7px;
        padding: var(--x_small_distances);
        border-radius: var(--x_small_distances);
        font-size: var(--xxx_large_font_size);
        color: var(--light);
        cursor: pointer;
    }
    .active_nav_context{
        width: auto;
        height: auto;
        padding: var(--xx_large_distances);
        -webkit-backdrop-filter: blur(var(--xx_small_distances));
        backdrop-filter: blur(var(--xx_small_distances));
    }
    .nav_context_toggler{
        display: block !important;
        border: 1px solid var(--blue);
        padding: var(--x_small_distances) var(--small_distances);
        border-radius: var(--small_distances);
        cursor: pointer;
        color: var(--light);
    }
    header{
        position: relative;
    }
    .banner_title h1{
        font-size: var(--x_large_font_size) !important;
    }
    .banner_subtitle h2{
        font-size: var(--medium_font_size) !important;
    }
    .banner_button button{
        width: 150px;
        height: 40px;
        font-size: var(--small_font_size) !important;
        border-radius: var(--x_small_distances);
    }
}

@media screen and (max-width:700px) {
    .calling{
        width: 100%;
        position: absolute;
        transform: translateY(50px);
    }
}
@media screen and (max-width:550px) {
    .card{
        width: 100%;
    }
    .card::before{
        width: 35%;
        height: 60%;
    }
}